.container h3 {
  color: #304ffe;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}
.container p {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
}

.createdAt {
  margin-top: 100px;
  display: flex;
  background-color: #304ffe18;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}

.createdAt p {
  margin: 0;
  font-weight: 400;
  margin-left: 10px;
}

.createdAt span {
  color: #304ffe;
}

.changePassword {
  margin-top: 3rem;
  border: none;
  padding: 0.7rem;
  color: white;
  background-color: #304ffe;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  transition: all ease-in 0.2s;
}

.changePassword:hover {
  background-color: white;
  color: #304ffe;
  border: 1px solid #304ffe;
}
