.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #179cde;
}

.sec1,
.sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec1 div,
.sec2 div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.studentName,
.classNumber {
  font-weight: 500;
}

.positive {
  background-color: #10b981;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.punishment {
  background-color: #ef4444;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.img {
  width: 32px;
  border: none;
}
