.container {
  margin-bottom: 18px;
}

.container p {
  margin-bottom: 5px;
}

.container input {
  width: 110px;
  border: 1px #304ffe dashed;
  color: rgb(23, 22, 22);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  height: 30px;
  margin-left: 10px;
  text-align: center;
}
